# Gradle
.gradle/
build/
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store
